body {
	background-color: #D2C5B7;
	font-family: helvetica;
	color: #063F53;
	width: 100%;
}

div {
	display: block;
}

a {
text-decoration: none;
}

header {
	background-color: #063F53;
	font-weight: 700;
	text-align: center;
	padding: 0px 0px 80px 0px;
	border-bottom: 3px solid #FFF;
}

nav {
	padding-bottom: 200px;
	border-bottom: solid 5px #39B1C6;
}

section {
	background-color: #D2C5B7;
	font-weight: 600;
	color: #063F53;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 20px 25px 20px;
	font-size: 15px;
}

img {
	margin: 0px 20px 0px 20px;
}

h1 {
	text-align: center;
	font-style: italic;
	color: #7A9A95;
	font-size: 35px;
	font-weight: 300;
}

h2 {
	text-align: left;
	color:#063F53;
	margin-top: 50px;
	padding-bottom:0px;
	font-weight: 700;
	font-size: 35px;
}

h3 {
	text-align: center;
	margin-top: 30px;
	font-weight:700;
	font-style: italic;
}

h4 {
	text-align: center;
	margin-top: 25px;
	font-weight: 600;
	font-style: italic;
}

h5{
	text-align: center;
	margin-top: 50px;
	font-weight: 600;
}

h6 {
	text-align: left;
	font-size: 20px;
	font-weight: 600;
	font-style: italic;
	margin: 0px;
	padding: 0px;
}

ul {
	list-style: square;
	font-size: 18px
}

li {
	padding: 8px;
	margin: 8px;
}

footer {
	text-align: center;
	margin-top: -50px;
	padding-bottom:0px;
	font-weight: 700;
	font-size: 30px;
	background-color: #0393B8;
	color: #000;
}

.title {
	font-size: 75px;
	color: #E34F2B;
	font-weight: 800;
	text-align: center;
}

.banner {
	font-size: 45px;
	font-style: italic;
	color: #D2C5B7;
	font-weight: 200;
	text-align: center;
	padding: 30px 0px 0px 0px;
}

.company {
	text-align: left;
	font-style: italic;
	color: #E34F2B;
	font-weight: 800;
	font-size: 40px;
}

.education {
	background-color: #063F53;
	color: #D2C5B7;
	font-weight: 400;
	margin: 0px 0px 50px 0px;
	padding: 20px 0px 20px 0px;
	font-size: 20px;
	border-top: 3px solid #FFF;
	border-bottom: 3px solid #FFF;
}

h2.orange {
	color: #E34F2B;
	text-align: center;
}